<h1> New Clinic Page </h1>

<% if @clinic.errors.any? %>
  <h4> Errors </h4>
  <ul>
    <% @clinic.errors.full_messages.each do |message|%>
      <li><%= message %> </li>
    <%end%>
  </ul>
<%end%>
<%= render partial: 'form', locals: { clinic: @clinic, url: clinics_path(@clinic.id) } %>
