<h1> New Arms Page </h1>

<% if @arm.errors.any? %>
  <h4> Errors </h4>
  <ul>
    <% @arm.errors.full_messages.each do |message|%>
      <li><%= message %> </li>
    <%end%>
  </ul>
<%end%>
<%= render partial: 'form', locals: { arm: @arm, url: arm_path(@arm.id) } %>
