<% if @arm.errors.any? %>
  <%= render partial: 'shared/errors', locals: { subject: @arm } %>
<%end%>
<div class="card m-4">
  <div class="card-header">
    <p class="fs-2">New Arm's Form</p>
  </div>
  <%= render partial: 'form', locals: { arm: @arm, url: clinic_arms_path(@clinic.id) } %>
</div>
