<div class="row bottom-border mb-2">
  <p class="fs-2 col">title</p>
  <%=link_to raw("<button class=\"btn btn-primary\"> Add Doctor <i class=\"fa fa-plus-square\"></i></button>"), add_path, class: "col text-end" %>
</div>
