<% if instances %>
  <tbody>
      <tr>
        <% instances.each do |instance| %>
          <% rows.each do |row| %>
            <td><%= instance.send(row) %></td>
          <% end %>
        <% end %>
      </tr>
  </tbody>
<% end %>
