<div class="row border-bottom mb-2">
  <p class="fs-2 col">Doctors</p>
  <%=link_to raw("<button class=\"btn btn-primary\"> Add Doctor <i class=\"fa fa-plus-square\"></i></button>"), new_doctor_path, class: "col text-end" %>
</div>
<table class="table table-bordered">
  <%= render partial: 'shared/table_header', locals: { headers: ['Name', 'Gender', 'Contact No', 'Edit', 'Delete'] } %>
  <tbody>
  <% @doctors.each do |doctor| %>
    <%= render partial: 'doctor', locals: { doctor: doctor } %>
  <% end %>
  </tbody>
</table>
