<div class="container">
  <div class="row border-bottom mb-2">
    <p class="fs-2 col">SITES</p>
  </div>
  <table class="table table-bordered">
    <%= render partial: "shared/table_header", locals: { headers: ["UUID", "NAME", "DRUG", "SPONSOR"] } %>
    <%= render partial: "shared/table_body", locals: { instances: @studies, rows: [:uuid, :name, :drug, :sponsor]} %>
  </table>
</div>
